<script>
	import '../app.pcss';
	import { Navbar, NavBrand, NavLi, NavUl, NavHamburger, Toast } from 'flowbite-svelte';
	import { SvelteToast } from '@zerodevx/svelte-toast';
	import { onMount } from 'svelte';
	import { init_backend, reset_backend, backend } from '$lib/utils';

	onMount(() => {
		init_backend();
	});
	let hidden = true;
</script>

<div>
	<Navbar>
		<NavHamburger></NavHamburger>
		<NavUl>
			<NavLi href="/">Meals</NavLi>
			<NavLi href="/categories.html">Categories</NavLi>
			{#if $backend !== null}
				<NavLi class="cursor-pointer" on:click={reset_backend}>Reset Backend</NavLi>
			{/if}
		</NavUl>
	</Navbar>
	<SvelteToast></SvelteToast>
	<slot />
</div>
