<script>
	import { call_backend, get_categories, get_meals, months } from '$lib/utils';
	import Meat from '$lib/icons/Meat.svelte';
	import Light from '$lib/icons/Light.svelte';
	import AddMeal from '$lib/AddMeal.svelte';
	import { onMount } from 'svelte';
	import {
		Input,
		Modal,
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';
	import { TrashBinSolid, ExclamationCircleOutline } from 'flowbite-svelte-icons';
	import { Label, Select, Button, Dropdown, DropdownItem } from 'flowbite-svelte';
	import { writable } from 'svelte/store';

	onMount(() => {
		setup_meals();
	});

	async function setup_meals() {
		// Ensure to have the categories first
		categories = await get_categories();
		if (categories == null) return;
		categories_with_none = [{ value: 0, name: 'All' }, ...categories];

		// Get the meals
		let json = await get_meals(current_month);
		if (json == null) return;

		meals = json.map((x) => {
			x.category = categories.find((cat) => cat.value == x.category_id).name;
			return x;
		});
		$sortItems = meals.slice();
	}

	async function delete_meal(category) {
		popup_modal = true;
		meal_to_delete = meal.value;
	}

	async function delete_meal_no_confirmation() {
		let json = await call_backend(
			'DELETE',
			`/meal/${meal_to_delete}`,
			null,
			'Failed to delete meal',
			true
		);
		setup_meals();
	}

	const sortKey = writable('name'); // default sort key
	const sortDirection = writable(1); // default sort direction (ascending)
	let sortItems = writable([]); // make a copy of the items array

	// Define a function to sort the items
	const sortTable = (key) => {
		// If the same key is clicked, reverse the sort direction
		if ($sortKey === key) {
			sortDirection.update((val) => -val);
		} else {
			sortKey.set(key);
			sortDirection.set(1);
		}
	};

	$: {
		const key = $sortKey;
		const direction = $sortDirection;
		const sorted = [...$sortItems].sort((a, b) => {
			const aVal = a[key];
			const bVal = b[key];
			if (aVal < bVal) {
				return -direction;
			} else if (aVal > bVal) {
				return direction;
			}
			return 0;
		});
		sortItems.set(sorted);
	}

	let current_month = new Date().getMonth();
	let select_months = [
		{ value: null, name: 'All' },
		...months.map((x, i) => {
			return { value: i, name: x };
		})
	];
	let meal_to_delete = null;
	let popup_modal = false;
	let open = false;
	let meals = [];
	let categories = [];
	let categories_with_none = [];
	let filtered_category = 0;
	let searchTerm = '';
	$: filteredMeals = $sortItems.filter((meal) => {
		let category = filtered_category === 0 || meal.category_id == filtered_category;
		let name = meal.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
		return name && category;
	});
	const svg_size = '30px';
</script>

<div>
	<Modal bind:open={popup_modal} size="xs" autoclose>
		<div class="text-center">
			<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
			<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
				Are you sure you want to delete this meal?
			</h3>
			<Button on:click={delete_meal_no_confirmation} color="red" class="me-2">Yes, I'm sure</Button>
			<Button
				on:click={() => {
					meal_to_delete = null;
				}}
				color="alternative">No, cancel</Button
			>
		</div>
	</Modal>
	<div class="container">
		<AddMeal bind:categories />
		<Label class="space-y-2 text-right">
			<span>Month</span>
			<Select
				class="mt-2"
				items={select_months}
				on:change={setup_meals}
				bind:value={current_month}
			/>
		</Label>
		<Label class="space-y-2 text-right">
			<span>Category</span>
			<Select class="mt-2" items={categories_with_none} bind:value={filtered_category} />
		</Label>
	</div>
	<TableSearch placeholder="Search by name" hoverable={true} bind:inputValue={searchTerm}>
		<TableHead>
			<TableHeadCell on:click={() => sortTable('name')}>Name</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('light')}>Light</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('meat')}>Meat</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('month_start')}>Start</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('month_end')}>End</TableHeadCell>
			<TableHeadCell on:click={() => sortTable('source')}>Source</TableHeadCell>
			<TableHeadCell></TableHeadCell>
		</TableHead>
		<TableBody>
			{#each filteredMeals as meal}
				<TableBodyRow>
					<TableBodyCell>{meal.name}</TableBodyCell>
					<TableBodyCell>
						{#if meal.light}
							<Light width={svg_size} />
						{/if}
					</TableBodyCell>
					<TableBodyCell>
						{#if meal.meat}
							<Meat width={svg_size} />
						{/if}
					</TableBodyCell>
					<TableBodyCell>{months[meal.month_start]}</TableBodyCell>
					<TableBodyCell>{months[meal.month_end]}</TableBodyCell>
					<TableBodyCell>{meal.source}</TableBodyCell>
					<TableBodyCell on:click={() => delete_meal(meal)}>
						<TrashBinSolid />
					</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</TableSearch>
</div>

<style>
	.container {
		column-count: 3;
	}
</style>
