<script>
	export let width = '50px';
</script>

<svg {width} viewBox="0 0 1005 1045.491" xmlns="http://www.w3.org/2000/svg">
	<path
		style="fill: hsl(205, 16%, 77%)"
		d="M97.532 1045.244H53.28c.162-109.71 26.45-213.242 72.974-304.758l-1.772 3.842c6.15-13.276 12.523-26.55 18.675-38.986 9.116-18.63 17.7-36.243 25.135-53.81l.443-1.107.575-1.062c31.94-56.702 51.52-124.147 53.445-195.995l.012-.574c-5.12-150.654-35.31-292.775-86.51-424.4l3.005 8.782 41.332-15.842c49.952 127.3 81.205 274.58 86.367 428.47l.06 2.195v1.15c-1.953 79.83-23.365 154.25-59.646 219.24l1.232-2.403c-7.744 18.365-16.462 36.154-25.71 55.006-6.108 12.48-12.392 25.357-18.366 38.367l-.31.664c-41.878 81.926-66.497 178.678-66.688 281.162v.062zm846.548.09h-44.252c.002-.653.004-1.425.004-2.198 0-99.972-23.346-194.492-64.883-278.404l1.642 3.67v-.222c-9.204-19.427-18.63-38.278-27.79-56.555-6.682-13.276-12.966-25.932-19.206-38.72-35.344-62.653-57.003-137.194-59.108-216.608l-.013-.628v-1.24c4.75-156.848 35.994-305.026 89.39-442.132l-3.098 9.034L858.1 37.174c-48.56 123.553-78.786 266.503-83.456 415.895l-.05 1.98c2.04 72.524 21.758 140.02 54.97 198.89l-1.114-2.145.575 1.106c6.195 12.79 12.523 25.446 19.25 38.81 9.204 18.41 18.763 37.482 28.145 57.307 42.686 85.88 67.666 187.034 67.666 294.024 0 .806 0 1.61-.004 2.416v-.125zM175.682 634.095l18.497 4.735c91.32 24.315 196.164 38.28 304.27 38.28h.008c108.117-.016 212.96-13.996 312.837-40.234l-8.558 1.91 17.08-4.424 11.55 22.48c14.87 28.897 30.27 58.767 45.27 92.576l6.993 15.754-295.916 231.882c-24.176 18.91-55.004 30.33-88.5 30.357h-.58c-34.064-.076-65.36-11.868-90.084-31.557l.295.227L116.78 760.348l7.168-15.62c6.195-13.498 12.612-26.552 18.852-39.34 9.116-18.63 17.7-36.244 25.135-53.812zm653.43 117.71c-10.797-23.23-21.77-44.87-32.57-65.847-89.523 22.492-192.296 35.4-298.083 35.4-105.41-.013-207.82-12.838-305.763-37.004l8.74 1.824c-5.84 12.745-12.037 25.49-18.542 38.72-3.673 7.48-7.39 15.09-11.063 22.835L436.505 961.65c16.94 13.457 38.624 21.603 62.21 21.64h.45c23.154-.047 44.45-7.95 61.378-21.186l-.22.166zm-308.527-299.1h-44.252V367.74h44.252zM31.33 570.593L.046 539.308l86.558-86.602L0 366.148l31.287-31.286 117.888 117.844zm942.222 0L855.708 452.706l117.888-117.888 31.286 31.286-86.602 86.602 86.558 86.558z"
	/>
</svg>
