<script>
	export let width = '50px';
</script>

<svg
	{width}
	enable-background="new 0 0 64 64"
	viewBox="0 0 64 64"
	xmlns="http://www.w3.org/2000/svg"
>
	<path
		style="fill: hsl(205, 16%, 77%)"
		d="m60.337 10.776c-1.108-1.106-2.561-1.659-4.011-1.659-.573 0-1.147.086-1.698.259.607-1.951.141-4.166-1.404-5.711-1.11-1.109-2.563-1.665-4.016-1.665-1.454 0-2.908.556-4.018 1.665-3.173 3.173-.832 7.112-1.076 9.106-.083.679-1.092 2.035-2.299 3.446-4.019-3.525-8.001-6.058-9.942-5.587-1.103.268-3.945 2.567-7.204 5.576l25.814 20.09c1.606-1.904 2.706-3.431 2.885-4.17.481-1.983-2.169-6.098-5.813-10.204 1.409-1.137 2.785-2.039 3.612-2.039.021 0 .042.001.062.002.103-.013.209-.018.321-.018 1.172 0 2.862.623 4.654.623 1.381 0 2.822-.37 4.133-1.681 2.218-2.218 2.218-5.813 0-8.033m-29.47 2.897 1-1 1 1-.999 1zm2.208 6.372-1-1 1-1.001 1 1zm1.292-3.372-1.5-1.5 1.5-1.5 1.5 1.5zm3.249 4.137-1-1 1-1 1 1zm21.307-3.414c-.757.757-1.596 1.095-2.719 1.095-.795 0-1.621-.164-2.42-.323-.778-.154-1.514-.3-2.234-.3-.141 0-.274.005-.404.017-1.33.012-3.114 1.072-4.961 2.548-.928-.98-1.896-1.944-2.879-2.864 1.725-2.04 2.674-3.573 2.794-4.554.11-.897-.073-1.821-.268-2.799-.437-2.2-.618-3.746.772-5.137.696-.695 1.621-1.079 2.604-1.079.982 0 1.906.384 2.602 1.079.97.97 1.317 2.389.908 3.702-.222.711-.029 1.484.496 2.01.381.381.892.585 1.414.585.199 0 .4-.029.597-.091.356-.111.727-.168 1.102-.168.981 0 1.903.382 2.597 1.073 1.432 1.436 1.432 3.772-.001 5.206"
	/>
	<path
		style="fill: hsl(205, 16%, 77%)"
		d="m10.632 31.872c-.472 1.942 2.061 5.925 5.586 9.944-1.411 1.206-2.767 2.215-3.446 2.298-.103.013-.21.019-.322.019-1.172 0-2.862-.623-4.653-.623-1.381 0-2.821.37-4.132 1.681-2.219 2.219-2.22 5.813 0 8.033 1.108 1.108 2.561 1.66 4.013 1.66.573 0 1.146-.086 1.698-.258-.608 1.949-.143 4.164 1.402 5.711 1.109 1.108 2.563 1.663 4.016 1.663 1.454 0 2.907-.555 4.018-1.663 3.173-3.175.832-7.115 1.074-9.109-.047-.819.87-2.229 2.036-3.673 4.107 3.645 8.222 6.294 10.206 5.813.845-.205 2.718-1.61 5.014-3.609l-22.9-22.899c-2.001 2.294-3.406 4.166-3.61 5.012m9.804 14.316c-1.457 1.826-2.507 3.594-2.55 4.931-.077.855.098 1.735.282 2.664.438 2.201.62 3.749-.77 5.14-.696.694-1.621 1.077-2.604 1.077s-1.907-.383-2.602-1.076c-.969-.971-1.317-2.39-.907-3.702.222-.71.031-1.483-.495-2.009-.381-.382-.892-.587-1.415-.587-.199 0-.399.029-.595.091-.357.111-.728.167-1.104.167-.982 0-1.905-.382-2.599-1.074-.694-.697-1.077-1.621-1.077-2.603s.383-1.906 1.079-2.603c.757-.757 1.595-1.095 2.717-1.095.794 0 1.62.164 2.418.322.778.154 1.514.301 2.234.301.196 0 .386-.012.565-.033.981-.12 2.514-1.069 4.554-2.794.922.985 1.887 1.955 2.869 2.883m-2.488-12.887 1 1-1 1-1-1zm-2.334-.375-1 .999-1-.999 1-1z"
	/>
	<path
		style="fill: hsl(205, 16%, 77%)"
		d="m15.031 25.962 23.637 22.436c3.663-3.329 7.987-7.705 11.002-11.154l-26.633-19.506c-2.781 2.654-5.695 5.642-8.006 8.224m6.988-.441-1-1 1-1 1 1zm7 4.637-1 1-1-1 .999-1zm-3.5-3 1.5 1.5-1.5 1.5-1.5-1.5z"
	/>
</svg>
