<script>
	import { call_backend, get_categories, get_meals } from '$lib/utils';
	import { onMount } from 'svelte';
	import {
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';
	import { TrashBinSolid } from 'flowbite-svelte-icons';
	import { toast } from '@zerodevx/svelte-toast';
	import { Button, Modal } from 'flowbite-svelte';
	import { ExclamationCircleOutline } from 'flowbite-svelte-icons';

	onMount(() => {
		setup_categories();
	});
	import AddCategory from '$lib/AddCategory.svelte';

	async function delete_category(category) {
		if (category.quantity != 0) {
			console.log(category.quantity);
			toast.push('Cannot delete a non empty category');
			return;
		}
		popup_modal = true;
		category_to_delete = category.value;
	}

	async function delete_category_no_confirmation() {
		let json = await call_backend(
			'DELETE',
			`/category/${category_to_delete}`,
			null,
			'Failed to delete category',
			true
		);
		setup_categories();
	}

	async function setup_categories() {
		let meals = await get_meals();
		let json = await get_categories();

		categories = json.map((x) => {
			x.quantity = meals.reduce((acc, cur) => (acc += cur.category_id == x.value), 0);
			return x;
		});
	}

	let category_to_delete = null;
	let popup_modal = false;
	let categories = [];
	let searchTerm = '';
	$: filteredCategories = categories.filter(
		(category) => category.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1
	);
</script>

<div>
	<Modal bind:open={popup_modal} size="xs" autoclose>
		<div class="text-center">
			<ExclamationCircleOutline class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" />
			<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
				Are you sure you want to delete this category?
			</h3>
			<Button on:click={delete_category_no_confirmation} color="red" class="me-2"
				>Yes, I'm sure</Button
			>
			<Button
				on:click={() => {
					category_to_delete = null;
				}}
				color="alternative">No, cancel</Button
			>
		</div>
	</Modal>
	<AddCategory />
	<TableSearch placeholder="Search by name" hoverable={true} bind:inputValue={searchTerm}>
		<TableHead>
			<TableHeadCell>Name</TableHeadCell>
			<TableHeadCell>Quantity</TableHeadCell>
			<TableHeadCell></TableHeadCell>
		</TableHead>
		<TableBody class="divide-y">
			{#each filteredCategories as category}
				<TableBodyRow>
					<TableBodyCell>{category.name}</TableBodyCell>
					<TableBodyCell>{category.quantity}</TableBodyCell>
					<TableBodyCell on:click={() => delete_category(category)}>
						<TrashBinSolid />
					</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</TableSearch>
</div>
