<script>
	import { Select, Button, Modal, Label, Input } from 'flowbite-svelte';
	import { call_backend } from '$lib/utils';

	async function submit() {
		await call_backend(
			'PUT',
			'/category',
			{
				name: name
			},
			'Failed to create new category'
		);
		location.reload();
	}

	let form_modal = false;
	let name = '';
</script>

<span>
	<Button on:click={() => (form_modal = true)}>Add Category</Button>

	<Modal bind:open={form_modal} size="xs" autoclose={false} class="w-full">
		<form class="flex flex-col space-y-6" action="#">
			<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add a new category</h3>
			<Label class="space-y-2">
				<span>Name</span>
				<Input type="text" name="name" bind:value={name} required />
			</Label>
			<Button type="submit" on:click={submit} class="w-full1">Add</Button>
		</form>
	</Modal>
</span>
