<script>
	import { Select, Button, Modal, Label, Input, Checkbox } from 'flowbite-svelte';
	import { call_backend, months } from '$lib/utils';

	async function submit() {
		let json = await call_backend('PUT', '/meal', meal, 'Failed to create new meal');
		if (json !== null) {
			location.reload();
		}
	}

	let form_modal = false;
	export let categories = [];
	let meal = {
		name: '',
		light: true,
		meat: true,
		month_start: 0,
		month_end: 11,
		source: '',
		category_id: null
	};
	$: months_select = months.map((x, ind) => {
		return { value: ind, name: x };
	});
</script>

<span>
	<Button on:click={() => (form_modal = true)}>Add meal</Button>

	<Modal bind:open={form_modal} size="xs" autoclose={false} class="w-full">
		<form class="flex flex-col space-y-6" action="#">
			<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add a new meal</h3>
			<Label class="space-y-2">
				<span>Name</span>
				<Input type="text" name="name" bind:value={meal.name} required />
			</Label>
			<div class="flex gap-3">
				<Checkbox bind:checked={meal.light}>Light</Checkbox>
				<Checkbox bind:checked={meal.meat}>Meat</Checkbox>
			</div>
			<Label class="space-y-2">
				<span>Month Start (included)</span>
				<Select class="mt-2" items={months_select} bind:value={meal.month_start} />
			</Label>
			<Label class="space-y-2">
				<span>Month End (included)</span>
				<Select class="mt-2" items={months_select} bind:value={meal.month_end} />
			</Label>
			<Label class="space-y-2">
				<span>Source</span>
				<Input type="text" name="source" bind:value={meal.source} required />
			</Label>
			<Label class="space-y-2">
				<span>Category</span>
				<Select class="mt-2" items={categories} bind:value={meal.category_id} />
			</Label>
			<Button on:click={submit} type="submit" class="w-full1">Add</Button>
		</form>
	</Modal>
</span>
